:root {
  --cyan: #47b5ff;
  --cyan-active: #60bffe;
  --dblue: #06283d;
  --address_color: #2a5e7f;
}

html {
  scroll-behavior: smooth;
}
body {
  color: #06283d;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background: white;
  width: 100%;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
}

.nav--scrolled {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
}
/* nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--logo {
  padding: 10px 20px;
  width: 150px;
}

.mobile--menu {
  position: static;
  z-index: 1;
}

.nav_items {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.4rem;
  position: fixed;
  top: 3.6rem;

  right: 0px;
  transition: all ease-in-out 0.4s 0.1s;
  background-color: white;
  padding: 10px;
  opacity: 0;
}

.nav_items li a:hover {
  color: var(--cyan);
  transition: all 0.3s ease-in-out;
}

.active {
  display: none;
}

.times {
  cursor: pointer;
}

.bars {
  cursor: pointer;
}

.show {
  opacity: 1;
  z-index: 0;
  height: fit-content;
  border-radius: 0 0 8px 8px;
  transition: all ease-in-out 0.6s 0.2s;
  transition: opacity ease-in .6s;
}
.nav_items li {
  padding-top: 5px;
}

.nav_items a {
  text-decoration: none;
  color: var(--address_color);
}

/* nosotros */
.flogo {
  height: 100px;

  /* position: absolute;
  top: 200px;
  left: 200px; */
}

.hl {
  color: var(--cyan);
}

.nosotros {
  padding: 20px;
  text-align: center;
  background: var(--cyan);
  z-index: -1;
}
.nosotros {
  position: relative;
  background-repeat: no-repeat;
  background-image: url(./assets/equipo/px.jpg);
  background-size: cover;
  background-position: 0, 100px;
  background-repeat: no-repeat;
}

.nosotros-h2 {
  font-size: 1.8rem;
  line-height: 1;
}

/* features */

.features--section {
  padding: 40px 20px;
  position: relative;
}
.features--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 15px 0;
}

.features {
  text-align: center;
  padding: 10px 0;
  width: 350px;
}

.features--icon {
  font-size: 30px;
  padding-bottom: 5px;
}

.features--titulo {
  color: var(--cyan);
}

/* svg top */
.custom-shape-divider-top-1667862197 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1667862197 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1667862197 .shape-fill {
  fill: #47b5ff;
}

/* svg bottom */
.custom-shape-divider-bottom-1667862623 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1667862623 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 30px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1667862623 .shape-fill {
  fill: #47b5ff;
}

/* form */

.form--section {
  background-color: var(--cyan);
  padding: 20px;
}

form {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background: white;
  border-radius: 8px;
  max-width: 80%;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);
}

.label {
  font-weight: bold;
}

.input {
  padding: 10px 5px;
  border-radius: 8px;
  border: solid 1px var(--cyan);
  width: 200px;
}

.h-cita {
  text-align: center;
  color: var(--cyan);
}

input::placeholder {
  color: var(--dblue);
}

.select {
  padding: 10px 5px;
  border-radius: 8px;
  border: solid 1px var(--cyan);
  width: 210px;
  color: var(--dblue);
  background-color: white;
}

.input--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.select--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

button {
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: var(--cyan);
  cursor: pointer;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

button:hover {
  background-color: var(--cyan-active);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.413);
  font-weight: bold;
  font-size: 13px;
}

button:active {
  background-color: var(--cyan-active);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.413);
  font-weight: bold;
  font-size: 12px;
}

/* team */
.team--section {
  position: relative;
  padding: 50px 20px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
}

.team_card {
  text-align: center;
  padding: 20px 15px;
  border-radius: 12px;
  box-shadow: 2px 4px 5px 1px rgba(38, 139, 255, 0.6);
}

.team_card--img {
  width: 250px;
  height: 260px;
  border-radius: 8px;
}
/* team */

/* services section */

.services--section {
  padding: 30px 20px 50px;
  position: relative;
}

.service--container {
  display: flex;
  align-items: center;
  width: 300px;
  gap: 10px;
  margin: 10px;
  margin-top: 20px;
  box-shadow: 2px 4px 5px 1px rgba(38, 139, 255, 0.6);
  padding: 5px 10px;
  border-radius: 8px;
  transition: transform .5s ease-out;
  
}

.service--container:hover{
  transform: scale(1.1);
  transition: transform .5s ease-in;
}

.services--cards {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}

.services--img {
  width: 50px;
}

.service--container h3 {
  color: var(--cyan);
}

.implante {
  padding: 10px;
  height: 50px;
}

.blanq {
  padding: 2px;
  height: 50px;
}

/* services svg div top*/

.custom-shape-divider-top-1667952866 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1667952866 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1667952866 .shape-fill {
  fill: var(--cyan);
}

/* services svg div bottom */

.custom-shape-divider-bottom-1668034141 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1668034141 svg {
  position: relative;
  display: block;
  width: calc(138% + 1.3px);
  height: 40px;
}

.custom-shape-divider-bottom-1668034141 .shape-fill {
  fill: var(--cyan);
}

/* footer */

footer {
  padding: 20px;
  text-align: center;
  background-color: var(--cyan);
}
.socials--container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.socials-icon {
  padding: 10px 12px;
  color: white;
  font-size: 30px;
  background-color: var(--dblue);
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.socials-icon:hover {
  color: var(--cyan);
  transition: all 0.5s ease-in-out;
}

.address {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
  margin: 10px;
  margin-left: 0;
}

.address--icon {
  font-size: 20px;
}

.address p {
  color: var(--address_color);
}

/* Quick Links */

.quickLinks {
  text-align: left;
}

.quickLinks ul {
  list-style: none;
}

.quickLinks a {
  text-decoration: none;
  color: var(--address_color);
}
.quickLinks a:hover {
  text-decoration: none;
  color: var(--dblue);
}

.aNl {
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 575px) {
  .aNl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .input--section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
  }
}

@media all and (min-width: 715px) {
  .mobile--menu {
    display: none;
  }
  .nav_items {
    position: static;
    opacity: 1;
    transform: translateX(0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    background: none;
    box-shadow: none;
  }
}

@media all and (min-width: 830px) {
  nav {
    padding: 10px 20px;
  }

  .nosotros {
    position: relative;
    display: flex;
    padding: 0;
    background-repeat: no-repeat;
    background-image: url(./assets/equipo/px.jpg);
    background-size: cover;
    background-position: 0, 100px;
    height: 800px;
    background-repeat: no-repeat;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
  }

  .nav--logo {
    width: 200px;
  }

  .flogo {
    height: 159px;
    width: 600px;
    padding-left: 20%;
    /* position: absolute;
    top: 200px;
    left: 200px; */
  }

  

  .nosotros-h2 {
    width: 600px;
    text-align: left;
    font-size: 3rem;
    line-height: 1;
    padding-left: 35%;
    color: var(--dblue);
  }

  .input {
    width: 300px;
  }

  .select {
    width: 310px;
  }

  button {
    font-size: 16px;
  }
  button:hover {
    font-size: 18px;
  }
}
